*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/.idea/copyright/
/gradle/wrapper/
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
