<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gedappgui.gedappgui">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnConcepts"
            android:label="@string/lessonConcepts"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Play"
            android:label="@string/play"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Game"
            android:label="Game"
            android:parentActivityName=".GameIntro"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GameIntro" />
        </activity>
        <activity
            android:name=".GameIntro"
            android:label="Game Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameEnd"
            android:label="Game End"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Success"
            android:label="Success"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Achievements"
            android:label="@string/achievements"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tools"
            android:label="@string/tools"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sprite"
            android:label="@string/sprite"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LearnLessons"
            android:label="@string/lessonNames"
            android:parentActivityName=".LearnConcepts"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LearnConcepts" />
        </activity>
        <activity
            android:name=".LessonSummary"
            android:label="@string/lessonSummary"
            android:parentActivityName=".LearnLessons"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LearnLessons" />
        </activity>
        <activity
            android:name=".LessonSteps"
            android:label="@string/lessonSteps"
            android:parentActivityName=".LessonSummary"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonSummary" />
        </activity>
        <activity
            android:name=".LessonExample"
            android:label="@string/lessonExample"
            android:parentActivityName=".LessonSteps"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonSteps" />
        </activity>
        <activity
            android:name=".Question"
            android:label="@string/lessonQuestions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Redo"
            android:label="Review"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RedoExample"
            android:label="Example"
            android:screenOrientation="portrait" />

        <receiver android:name=".Receiver" />

        <activity
            android:name=".AchievementPopUp"
            android:label="@string/title_activity_achievement_pop_up"
            android:theme="@style/AppTheme.PopUpNoButtonTheme" />
        <activity
            android:name=".AchievementInfo"
            android:label="AchievementInfo"
            android:theme="@style/AppTheme.PopUpNoButtonTheme" />
        <activity
            android:name=".FractionToDecimalTool"
            android:label="@string/title_activity_frac_to_dec_tool" />
        <activity
            android:name=".SlopeCalculator"
            android:label="@string/title_activity_slope_calc_tool"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".CoordinatePlane"
            android:label="@string/title_activity_coord_plane_tool" />
        <activity
            android:name=".FormulaMemorization"
            android:label="@string/title_activity_formula_memorization_tool" />
        <activity
            android:name=".GeoAssist"
            android:label="@string/title_activity_geo_assist_tool" />
        <activity
            android:name=".PlaceValues"
            android:label="@string/title_activity_place_value_tool" />
        <activity
            android:name=".Tutorial"
            android:label="Tutorial" />
        <activity
            android:name=".TowerGameView"
            android:label="Complete the Picture!" />
        <activity
            android:name=".NGZLinks"
            android:label="Links Directory"
            ></activity>
    </application>

</manifest>